.post {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-family: "medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
}

.post h1 {
  font-family: "medium-content-sans-serif-font","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

.post img {
  width: 100%;
}

.post > pre {
  font-size: 14px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
